streamlit
stripe
numpy
Pillow
PyMuPDF
streamlit-image-coordinates
streamlit-drawable-canvas
opencv-python-headless

# Webhook receiver
Flask
fastapi
uvicorn
requests

# Image processing
scikit-image
scipy
supabase
beautifulsoup4
